<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwkgVe73T9ij1WQmGzu3oMy4IefYn3Phw</string>
	<key>GCM_SENDER_ID</key>
	<string>215559138001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>OrgIdent1.LCTO-13</string>
	<key>PROJECT_ID</key>
	<string>lcto-13</string>
	<key>STORAGE_BUCKET</key>
	<string>lcto-13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215559138001:ios:787fea000eb7b93f39f3f0</string>
</dict>
</plist>